Hello everyone,
wellcome back this is your :) Arun 
Today we are in day-02 of <100dayscodechallenge>

#On day-01 we saw about basic arithmetic operators, values and types.And we gone through some basic exercises.

Today we are going to see about << Variables and Expression >>.

And the questions is what is variables and why these are in python ?

   A Python variable is a reserved memory location to store 
    values. In other words, a variable in a python program gives 
    data to the computer for processing.

For example ,

In [1]:
# An integer assignment 
age = 45

In [2]:
print(age)

45

In [3]:
# A floating point 
salary = 1456.8

In [4]:
print(salary)

1456.8

In [5]:
# A string   
name = "John"

In [6]:
print(name)

John

## Rules for creating variables in Python are same as they are in other high-level languages. 
They are:
* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* Variable names are case-sensitive (name, Name and NAME are three different variables).
* The reserved words(keywords) cannot be used naming the variable.
Python 3 has these keywords:
    False, class, finally, is, return,
    None, continue, for, lambda, try,
    True, def, from, nonlocal, while,
    and, del, global, not, with,
    as, elif, if, or, yield,
    assert, else, import, pass,
    break, except, in, raise.

### Now assigning a single value to multiple variable:

In [10]:
a = b =c = 19
    #a = 19 
    #b = a
    #c = b

In [12]:
print(a,b,c)

19 19 19

### Assigning a different values to multiple variable:

In [13]:
a,b,c = 1 , 7.7 , "@run"

In [15]:
print(a)
print(b)
print(c)

1
7.7
@run

#### If we use same name ,what will happens let's see...

In [16]:
a = 7
a = "hello arun"

In [19]:
a # here in python it takes last updated value
    #for same variable name

'hello arun'

# Expressions and statements:
-->An expression is a combination of values, variables, and operators.

-->A value all by itself is considered an expression, and so is a variable

In [20]:
# example :
42

42

In [34]:
n = 19 # assign 19 to n

In [23]:
n + 42

61

# order of operations:

    When an expression contains more than one operator, the order of evaluation dependson the order of operations. 
    
    For mathematical operators, Python follows mathematical convention. 

The acronym PEMDAS is a useful way to remember the rules:

P - PARENTHESES
E - EXPONENTIATION
M - MULTIPLICATION
D - DIVISION
A - ADDITION
S - SUBRACTION

In [29]:
# For examples
2 * (3-1)

4

In [30]:
(9+2)**(1+1)

121

In [31]:
1 + 2**3

9

In [32]:
2*3-1

5

In [33]:
6+4/2

8.0

Exercises:

1.We have seen that n = 42 is legal , What about 42 = n?

In [37]:
n = 42
print(n)

42

In [36]:
42 = n

SyntaxError: can't assign to literal (<ipython-input-36-f0c37ed646fc>, line 1)

2.In some languages every statement ends with a semi-colon, ;.
What happens if you put a semi-colon at the end of a Python statement?

In [38]:
for i in m ; # it will shows invalid syntax

SyntaxError: invalid syntax (<ipython-input-38-830d646c4562>, line 1)

3.In math notation you can multiply x and y like this: xy. What happens if you try that inPython?

In [40]:
x = 1
y = 2

In [41]:
xy # it will consider xy as a single variable name

NameError: name 'xy' is not defined

If you guys gothrough all basics in python, then the above questions won't rise on your mind.

This is our end of our day-02 !
Tommorrow we gonna see imporatant topic in python.