It's Day-16 of <100daysofcode>

Today we are gonna see about "Tuples".

# Tuples

A Tuple is a collection of python objects separated by commas.In someways a tuple is similiar to a list, In python tuples are written with prentheses which means round brackets.

##### Where a tuple is a comma seperated list of values.

In [30]:
a =('a',) # it is important to put comma after element

In [29]:
type(a)

tuple

In [1]:
t = 'a','r','u','n'

In [3]:
type(t)

tuple

##### * Although it is not necessary, it is common to enclose tuples in parenthesis.

In [4]:
t = ('a','l','p','h','a')

In [6]:
t

('a', 'l', 'p', 'h', 'a')

In [7]:
type(t)

tuple

->A value in parentheses is not a tuple:
    
for example:

In [8]:
s = ('x')

In [9]:
type(s)

str

##### -->Because a tuple is a comma-seperated list of values.

The another way to create a tuple is the built-in function tuple.With no argument,it creates an empty tuple:

In [11]:
a = tuple()

In [13]:
a

()

If the argument is a sequence (list,string..), the result is a tuple withthe element of the sequence:

In [14]:
a = tuple('singh')

In [15]:
a

('s', 'i', 'n', 'g', 'h')

Most list operators also work on tuples.The bracket operator indexes an element

In [44]:
q = ('1','2','3','4')

In [45]:
q[0]

'1'

#### Slice operator select a range of elements.

In [46]:
q[1:3]

('2', '3')

In [47]:
q # it won't make any changes in variable q

('1', '2', '3', '4')

#### But if you try to modify one of the elements of tuple, you can replace one tuple with another.

In [48]:
q[0] = '0'

TypeError: 'tuple' object does not support item assignment

Because tuples are immutable, you can't modify the element of the tuple.But you can replace one tuple with another.

In [49]:
q = ('0',) + q[1:]

In [50]:
q

('0', '2', '3', '4')

The relational operator works with tuples and other sequences,python starts by comparing the first element from each sequence.
If they are equal, it goes on to the next elements,and  untill it finds elements that differ.